@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body {
    font-size: 100%;
    line-height: 1.5;
    background-color: #f2f2f28c;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    color: rgb(0, 162, 255);
}
input, button, textarea, select {
    border: none;
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input[type="checkbox"]{
    cursor: pointer;
}